* {
  box-sizing: border-box;
}

html {
  background: url("../Assets/background.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.playButton {
  color: black;
  background-color: #b3ff00e8;
  font-size: 110%;
  float: left;
  width: 48%;
  border-radius: 20px;
}

.likeBtn {
  color: black;
  background-color: #c300ffc7;
  font-size: 110%;
  width: 48%;
  float: right;
  border-radius: 20px;
}

.song {
  display: inline-block;
  padding: 40px 20px;
  margin: 20px 20px;
  width: 330px;
  height: 700px;
  text-align: center;
}
.songInfo {
  padding: 20px;
  text-align: center;
  font-family: papyrus;
  font-size: 20px;
  font-weight: 900;
  color: white;
}
.song img {
  width: 250px;
  height: 250px;
}

.bg {
  background-color: black;
}
.links {
  width: 88%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.links ul li a {
  text-decoration: none;
  color: azure;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  color: white;
  font-family: brush script mt;
}

h2 {
  font-size: 50px;
  color: black;
  font-family: brush script mt;
}

hr {
  border: 5px double white;
  border-radius: 5px;
}

form {
  background-color: #4a206a;
  width: 100%;
  height: 44px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2 {
  text-align: center;
  color: azure;
}

body {
  margin: 0;
  border: 0;
}
